<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <form role="form" ng-submit="submit()">
    <legend>Your todos</legend>

    <div class="form-group">
        <label for="">Todo</label>
        <input type="text" class="form-control" id="" placeholder="todo" ng-model="newName" ng-required="true">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="panel panel-info">
          <div class="panel-heading">
                <h3 class="panel-title">Todo List</h3>
          </div>
          <div class="panel-body">

            <!-- Loading persons -->
            <div class="" ng-hide="showPerson">
              <!-- Loading ... -->
            </div>
            <!-- Persons list group -->
            <ul class="list-group">
              <li class="list-group-item" ng-repeat="person in persons">

                 <input type="checkbox" value="" class="todo-done" ng-checked="{{person.done}}" ng-click="todoDone($index)">

                 {{person.name}}

                <span class="glyphicon glyphicon-remove pull-right" aria-hidden="true" ng-click="removePerson($index)"></span>
              </li>
            </ul>

          </div>
    </div>

</div>
